<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Library API Suite">

    <test name="API Tests">
        <classes>
            <class name="org.umangqa.library.tests.AddBookTest"/>
            <class name="org.umangqa.library.tests.GetBookTest"/>
            <class name="org.umangqa.library.tests.DeleteBookTest"/>
        </classes>
    </test>

</suite>
